[submodule "theora"]
	path = theora
	url = ../theora
	branch = master
[submodule "vorbis"]
	path = vorbis
	url = ../vorbis
	branch = master
[submodule "ogg"]
	path = ogg
	url = ../ogg
	branch = master
